*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  padding: 30px 20px;
  background-color: hotpink;

  display: flex;
  justify-content: flex-end;
}

.header-box{
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: pink;
}

.header-box:first-child{
  margin-right: auto;
}

main{
  display: flex;
  justify-content: center;
}

.left{
  width: 300px;

  background-color: lightgreen;
}

.right{
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;

  background-color: green;
}

.main-box{
  height: 130px;
  flex-basis: 200px;
  margin: 10px;

  background-color: greenyellow;
}

footer{
  width: 100%;
  padding: 20px;

  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box{
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;

  background-color: lightblue;
}
/* 
.footer-box:last-child{
  margin: 10px auto;
} */