*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 400px;

  background-image: url(../img/mp.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 20px;
  /* position: absolute; */
  
}

/* .header-t{
  
   position: relative;
  top: 20px;
  left: 20px;

} */

main{
  width: 840px;
  margin: 50px auto;
  /* text-align: center; */
}

.webcamp{
  padding: 30px 0;
  border-bottom: 1px solid gray;
}

.webcamp:first-child{
padding-top: 0px;
}

.webcamp:last-child{
  padding-bottom: 0px;
}