*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item1{
  height: 200px;
  background-image: url(../img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.item2{
  height: 200px;
  background-image: url(../img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.item3{
  height: 200px;
  background-image: url(../img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.item4{
  height: 200px;
  background-image: url(../img/box1.jpg);
  background-size: cover;
  background-position: center;
}