
.flex{
  /* display: flex; */
  background-color: #00c7ce;
  height: 50vh;
  padding: 10px;
  display: flex;
  /* 左右の中央にする */
  justify-content: center;
  /* 上下の中央にする */
  align-items: center;
}

.flex > div{
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}
/* .button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 100px;
  padding: 10px;
  color: #fff;
  background-color: #00c7ce;
} */